:root {
  --textUnderlineColor: #ffbc1c70;
}

@layer components {
  .btn-primary {
    @apply px-5 py-3 text-lg font-bold text-white rounded-full shadow-md bg-primary dark:bg-primary-dark whitespace-nowrap;
  }
  .blob {
    @apply fixed w-auto transition duration-1000 fill-current text-primary dark:text-primary-dark;
  }

  .homeBlob {
    @apply fixed w-auto transition duration-1000 fill-current text-accent dark:text-accent-dark md:block;
  }

  .input-container {
    @apply grid;
  }

  .underline-yellow {
    position: relative;
    background-image: linear-gradient(
      180deg,
      transparent 70%,
      var(--textUnderlineColor) 0
    );
    background-position-x: 10px;
  }
}
