@tailwind utilities;

@layer utilities {
  @responsive {
    .max-h-70vh {
      max-height: 71vh;
    }

    .max-h-50vh {
      max-height: 50vh;
    }
    .max-h-25vh {
      max-height: 25vh;
    }
    .max-h-20vh {
      max-height: 20vh;
    }

    .max-w-300 {
      max-width: 300px;
    }
  }

  .z--1 {
    z-index: -1;
  }
}
